
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  border-bottom: solid 1px $primary-color;
  margin-bottom: 1rem;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar li:hover {
  background-color: #d3bc8c;
  border-radius: 20px;
}

.nav-active {
  border-bottom: azure 3px solid;
  transition: border-bottom 0.3s ease;
}

/* Mobile Styles */
@media (max-width: 700px) {
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar h1 {
    margin-bottom: 0.6rem;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }
}
